.wrapper{
    background-color: blanchedalmond;
    border: 2px solid red;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 1fr 2fr;
}
.wrapper div{
    padding: 200px 15px;
    margin: 10px 10px;
    border: 2px solid orange;
}



.price{
    color: gray;
    font-size: 22;
}



.hover-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    opacity: 0;
    transition:opacity 00.5s ease-in-out;
}


.horizontal{
    background-color: #000;
    width: 200px;
    height: 1px;
}
.vertical{
    background-color: white;
    display: inline-block;
    width: 1px;
    height: 350px;
}
.footer{
    position: relative;
    bottom: 0;
     background-color: blanchedalmond;
    border: 2px solid red;
    color: black;
    display: grid;
    justify-content:space-between;
    grid-template-columns: 200px 200px 200px;
} 

li{
list-style: none;
}
